@import "../../variaveis.css";

header {
  width: 100%;
  text-align: center;
  padding-bottom: 40px;
}

h1 {
  font-size: 48px;
  position: relative;
  font-weight: bolder;
}

.blue-asterisk {
  color: var(--blue-asterisk);
  position: relative;
  top: 10px;
}